<div class="dashboard">
  <h2>Dashboard</h2>
  <div class="books">
    <div class="book"
	 *ngFor="let book of books"
	 (click)="onSelect(book)">
      <md-card [class.selected]="book === selectedBook">
	<img md-card-image
	     src="https://ucrtoday.ucr.edu/wp-content/uploads/2012/08/Irwin-Sherman-Book-Cover.jpg" />
	<md-card-content>{{book.title}}</md-card-content>
      </md-card>
    </div>
  </div>
</div>

<hr />
<div *ngIf="selectedBook">
  <h2>
    {{selectedBook.title | uppercase}} is my book
  </h2>
  <button md-raised-button color="primary" (click)="gotoDetail()">View Details</button>
</div>
