.dashboard {
    & .books {
	      display: flex;
	      flex-wrap: wrap;
	      & .book {
	          margin: 5px;
            filter: blur(1px);
	          & img {
		            width: 100px;
		            height: 100px;
	          }
	          &:hover {
		            transform: scale(1.03);
		            cursor: pointer;
                filter: blur(0px);
	          }
	      }
    }
}

.selected {
    color: green;
}
