<div class="dashboard">
  <h2>Dashboard</h2>
  <div class="books">
    <div class="book" *ngFor="let book of books" (click)="gotoDetail(book)">
      <md-card>{{book.title}}</md-card>
    </div>
  </div>
</div>
