<!DOCTYPE html>
<html>
  <head>
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Angular 2 App</title>
  </head>
  <body>
    <app></app>
  </body>
</html>
